*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: row;
   /* overflow: hidden; */
}
.content_slider{   
    display: flex;
    flex-direction: row;
    position: relative;
    left: -100%;
}


.slider{
    border: 1px solid orangered;
    width: 300px;
    height: 200px;
}
.controles{
    border: 1px solid black;
    position: absolute;
    display: flex;
}
.control{
    margin: 24px;
}